<%= content_for :title do %>
    <title><%= @article.title %></title>
    <% end %>

    <%= content_for :body do %>
          <% if flash[:success] %>
              <div class="alert alert-success" role="alert"> <%= flash[:success] %> </div>
          <% end %>
          <div>
          <h3 class="d-flex justify-content-center"><%= @article.title %></h3>
          <h7 style="text-align:left;float:left;"><%= Category.find(@article.category_id).name%></h7>
          <h7 style="text-align:right;float:right;"><%= @article.created_at.strftime("%-d %b %Y") %></h7>
          </div>
          <br>
          <div>
          <p class="border border-warning"><%= @article.content %></p>
          </div>
          <br>

          <h4>Comments</h4>
            <% if flash[:notice] == "Comment Added!" %>
                <div class="alert alert-success" role="alert"> <%= flash[:notice] %> </div>
              <% elsif  flash[:notice] == "Comment Couldn't Added Try Again..." %>
                <div class="alert alert-danger" role="alert"> <%= flash[:notice] %> </div>
            <% end %>
            <ul class="list-group">
              <% @article.comments.each do |comment| %>
              <div>
            <li class="list-group-item d-flex justify-content-between align-items-center">
             <%= comment.text %>

             <%= form_tag delete_comment_path(@article, comment), method: :delete do %>
              <button type="submit" value=<%= "#{@article.to_param}"%> name="article_id" class="badge badge-danger">X</button>
             <% end %>

            </div>
            </li>
          <% end %>
            </ul>
          <br>

          <%= link_to 'Back To List', admin_articles_path %><br>
          <%= link_to 'Edit This Article', edit_admin_article_path(@article) %> <br>
          <%= link_to 'Delete This Article', admin_article_path(@article), method: :delete %>
          <br>
          <br>
    <% end %>
