<%= content_for :title do %>
    <title><%= @article.title %></title>
    <% end %>
    
    <%= content_for :body do %>
          
          
          <div>
          <h3 class="d-flex justify-content-center"><%= @article.title %></h3>
          <h7 style="text-align:left;float:left;"><%= Category.find(@article.category_id).name%></h7>
          <h7 style="text-align:right;float:right;"><%= @article.created_at.strftime("%-d %b %Y") %></h7>
          </div>    
          <br>
          <p class="border border-warning"><%= @article.content %></p>

          <br>

          <h4>Related Articles</h4>
          <ul class="list-group list-group-horizontal-md ">
           
            <% @related_articles1.each do |ra| %>
              <li class="list-group-item col-4" style="text-align:center;">
                  <div class="text-truncate">
                  <%= link_to ra.title, category_article_path(ra.category.to_param, ra), target: "blank_" %>
                  </div>
              </li>
            <% end %>
           </ul>
           <br>
          <h4>Comments</h4>
            <% if flash[:notice] == "Comment Added!" %>
                <div class="alert alert-success" role="alert"> <%= flash[:notice] %> </div>
              <% elsif  flash[:notice] == "Comment Couldn't Added Try Again..." %>
                <div class="alert alert-danger" role="alert"> <%= flash[:notice] %> </div>
            <% end %>
            <ul class="list-group">
              <% @article.comments.each do |comment| %>
            <li class="list-group-item d-flex justify-content-between align-items-center"> 
             <%= comment.text %> 
             <span class="badge badge-warning badge-pill"> <%= @article.created_at.strftime("%b %-d %Y, %H:%M") %> </span>
            </li>
          <% end %>
            </ul>
          <br>

          <h5>Add Comment</h5>
          <%= form_for @comment, url: create_comment_path, class: "form-group" do |f| %>
          <%= f.text_field :text, class: "form-control" %> <br>
          <%= f.submit 'Send', class: "btn-sm btn-outline-warning float-right" %>
          <% end %>

          <br>
          <%= link_to 'Back', "/categories/#{Category.find(@article.category_id).to_param}/articles" %>
          <br>
    <% end %>




    <!-- <form class="form-inline" style = "position:relative; left:600px; top:2px;">
            <input class="form-control mr-sm-2 btn-outline-warning" type="search" placeholder="Search Articles..." aria-label="Search" name="search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form> -->