<!doctype html>
<html lang="en">
  <head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="favicon.png" type="image/png">
  <link rel="icon" href="favicon.png" type="image/png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= yield :title %>
  </head>
  <body class ="container-fluid" style="padding-bottom: 75px;">
      <nav class="navbar navbar-expand-xl navbar-light bg-light">
          <a class="navbar-brand" href="/">
              <img src="/images/myblog.png" width="30" height="30" href="/"> MyBlog </a>

          <ul class="navbar-nav ">
            <a class="nav-link" href="/categories/1-politics/articles">
               <img class="d-inline-block align-top" src="/images/picon.png" width="25" height="25"> Politics </a>
          
         
            <a class="nav-link" href="/categories/2-economy/articles">
               <img class="float-up" src="/images/eicon.png" width="25" height="25"> Economy </a>
       
      
            <a class="nav-link" href="/categories/3-food/articles">
               <img class="float-up" src="/images/foodicon.png" width="25" height="25"> Food </a>
       
            <a class="nav-link" href="/categories/4-magazine/articles">
               <img class="float-up" src="/images/micon.png" width="25" height="25"> Magazine </a>
          </ul>
          
      </nav>


      <nav class="navbar fixed-bottom  navbar-expand-xl navbar-light bg-light">
      <ul class="navbar-nav d-flex justify-content-end" >
      <% if current_admin %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/articles">Logged in as, <%= Admin.find(session[:admin_id]).email %>.</a>
        </li>
        <%= form_tag session_path(session), method: :delete, style: "position:relative; left: 1000px; top:2px;" do %>
            <li class="nav-item">
                <button type="submit" class="btn btn-warning btn-sm ">Log Out</button>      
            </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Admin Panel</a>
        </li>
      <%end %>
      </ul>
      </nav>
  
      <div class="container  pt-5">
          <%= yield :body %>
      </div>
      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>